<a href="https://colab.research.google.com/github/M-Hasssan/AutoReply-Chat-JS/blob/main/Lab01_20347.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Introduction to Python')

Introduction to Python

In [4]:
firstName = 'Muhammad Hassan'
lastName = 'Tariq'
print(firstName + ' ' + lastName)

Muhammad Hassan Tariq

In [ ]:
a='Hello '
b='World'
print(a + b)

Hello World

In [ ]:
print("Arithmetic Operations")

a=5000
b=1000
print('Addition',a+b)
print('Subtraction',a-b)
print('Multiplication',a*b)
print('Division',a/b)
print('Modulus', a%b)

Arithmetic Operations
Addition 6000
Subtraction 4000
Multiplication 5000000
Division 5.0
Modulus 0

**Nested For Loop List**

In [ ]:
fruits = ["apple","banana","orange"]
for x in range(0,3):
  print(x)
  for i in fruits:
    print(i)

0
apple
banana
orange
1
apple
banana
orange
2
apple
banana
orange

In [ ]:
for i in range(5):
  print(i)
  print('*')

0
*
1
*
2
*
3
*
4
*